.info div {
    background-color: white;
    padding: 1px 0px;
    border-radius: 15px;
}

.info h1 {
    color: rgb(77, 1, 77);
    text-align: center;
    margin: 20px 0 20px;
}

.info p{
    padding: 1px 60px;
}

.info .tel-container {
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 12px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.info .progressBar{
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
}