.formWithStatus {
    display: grid;
    width: 800px;
    height: 450px;
    grid-template-columns: 200px auto;
    grid-template-rows: 1fr;
}

.formWithStatus .status {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}

.formWithStatus .form {
    grid-column: 2;
    grid-row: 1;
}