.statusIndicator {
    background-color: rebeccapurple
}

.statusIndicator .item {
    font-size: medium;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 30px auto;
}

.statusIndicator h2 {
    color: white;
    text-align: left;
    margin: 15px 0px 20px 15px;
}

.itemIndex {
    grid-column: 1;
    border-radius: 50%;
    border: 1px solid;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    font-size: large;
    margin-right: 10px;
}

.itemName {
    grid-column: 2;
    margin-left: 10px;
    margin-right: 5px;
    text-align: left;
    align-items: center;
    font-size: 14px;
    display: flex;
    line-height: 20px;
}

.statusIndicator .active {
    color: white;
    font-weight: bold;
}

.statusIndicator label {
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}
