.headerContainer {
  height: 80px;
  width: 100%;
  background-color: #f0f0f0;

  & button {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    color: #333;
  }

  & input {
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;

  }
}

.check {
  display: none;
}

@media (max-width: 1200px) {
  .check {
    display: block;

    &:checked ~ .buttonContainer {

      left: 0;
    }
  }

  .buttonContainer {
    position: fixed;
    background: #FFFFFF;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;

    & button {
      display: block;
      line-height: 40px;
      width: 100%;
    }
  }

  .headerContainer {
    & input {
      display: block;
    }
  }
}


.titleContainer {
  line-height: 80px;
  padding: 0 40px;
  color: #333;

  & button {
    font-size: 40px;
  }

  @media (max-width: 952px) {
    font-size: 30px;
    padding-left: 10px;
  }
}

.buttonContainer {
  float: right;

  & button {
    font-size: 20px;
  }
}


