.form {
  height: 100%;
}

.form form {
  background-color: white;
  border-radius: 10px;
  display: grid;
  height: 100%;
}

.form h1 {
  color: rgb(77, 1, 77);
  text-align: center;
}

.form button {
  justify-self: right;
  align-self: end;
  width: 30%;
  /* grid-column: 2;
  grid-row: 2; */
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
