.form {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 1fr;
  width: 800px;
  height: 450px;
}

.form form {
  background-color: white;
  padding: 0 60px;
  border-radius: 10px;
  grid-column: 2;
  grid-row: 1;
  display: grid;
}

.form h1 {
  color: rgb(77, 1, 77);
  text-align: center;
}

.form button {
  justify-self: right;
  align-self: end;
  width: 30%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
