.form label {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 15px;
    line-height: 1;
    color: rgb(77, 1, 77);
    font-size: 30px;
}

.form {
    padding-left: 15px;
    padding-right: 15px;
    font-family: Roboto;
}

.form span {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 15px;
}

.form .from_to_container {
    display: flex;
    align-items: center;
}